body {
margin: 0;
padding: 0;
font-family: "PT Sans", "sans-serif";
font-size: 14px;
line-height: 21px;
font-weight: 400;
text-transform: uppercase;
background-color: white;
border: 2px; #000000;
}

header,
main,
footer {
  width: 1200px;

}
a {
  text-decoration: none;
  color: #000000;
}
.main-header-logo {
position: absolute;
padding: 0;
font-size: 0;
line-height: 0;
}

section.welcome {
  width: 1200px;
  height: 800px;
  background: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}
.reasons {
  text-align: center;
  padding-bottom: 56px;
}
.sedona-img {
  padding-top: 76px;
}
h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

}
.sedona-img {
  text-align: center;

}
.site-navigation {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  background-color: white;
  list-style: none;
  font-weight: 700;
  color: #000000;
}

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.navigation-wraper {
  display: flex;
    width: 1200px;
}
.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active {
color: #rgba(0,0,0,0.3);
}

.site-navigation li {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 26px;
  margin: auto;
  vertical-align: top;
  box-sizing: border-box;

}
.main-header-logo {
  padding: 0;
  font-size: 0;
  position: relative;

}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {

}
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {

}


.visually-hidden {
display: none;
}
.sights {
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 330px;

}
.advantages-gray {
  width: 1200px;
  height: 256px;
  font-size: 14px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.advantages-gray div:nth-child(1) {
  width: 208px;
  padding: 50px 97px 63px 95px;
}
.advantages-gray div:nth-child(2) {
  width: 262px;
  padding: 50px 69px 64px 69px;
}
.advantages-gray div:nth-child(3) {
  width: 262px;
  padding: 50px 77px 64px 77px;
}

.advantages-blue {
  width: 280px;
  height: 146px;
  text-align: center;
  font-size: 14px;
  margin-left: 0;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 46px 60px 64px;
  display: block;
}
.sight1 >p {
  width: 252px;
}
.sight2 >p {
  width: 284px;
}
.sight3 >p {
  width: 273px;
}
.real-town-wrapper {
  display: flex;
  flex-direction: row;
}
.real-town {
  background-image: url("../img/feature-picture-1.jpg");
  background-position: right;
  width: 800px;
  height: 256px;
  background-repeat: no-repeat;
  order: 2;
}
.devils-brige-wrapper {
  display: flex;
  flex-direction: row;
}

.devils-brige {
  background-image: url("../img/feature-picture-2.jpg");
  background-position: left;
  width: 800px;
  height: 256px;
  background-repeat: no-repeat;
}
.second {
  align-self: flex-end;
}

.interested h3{
  font-size: 30px;
}
.interested p {
  margin-top: 0;
}
.interested {
  display: flex;
  width: 434px;
  min-height: 93px;
  margin-left: 383px;
  margin-right: 383px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pop-up h3 {
    text-align: center;
    background-size: 568px 86px;
    background-color: #766357;
    color: white;
}
.pop-up {
  display: flex;
  width: 1200px;

}
form {
  display: flex;
  width: 458px;
  min-height: 370px;
  padding: 0;
  font-weight: 700;
  margin: auto;
}
.field {
    position: relative;
    margin-bottom: 30px;
    clear: both;
    text-align: left;
}
.field input {
  width: 346px;
  min-height: 32px;
  background-color: #f2f2f2;
}
input[type=submit] {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.short-field input{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  margin-right: -4px;
  padding: 0;
}
.main-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  opacity: 0.9;
  justify-content: space-around;
}
.contact {
  display: flex;
  width: 223px;
  margin-top: 36px;
  flex-wrap: wrap;
}
.socials {
  display: flex;
  width: 150px;
}
.social {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  list-style: none;
  display: flex;
  text-align: justify;
  margin-left: 6px;
  margin-top: 36px;

}
.social a{
  width: 46px;
  height: 48px;
  display: block;
}

.socials li:nth-child(1)::before {
  content: url("../img/tw-icon.png");
  width: 17px;
  height: 15px;
  padding: 15px 14px 16px;
}

.socials li:nth-child(2)::before {
  content: url("../img/fb-icon.png");
  width: 17px;
  height: 15px;
  padding: 12px 17px 13px;
}
.socials li:nth-child(3)::before {
  content: url("../img/youtube-icon.png");
  width: 17px;
  height: 15px;
  padding: 13px 13px 16px;
}

.social a:hover {
  color: #669ec0;
}

.social a:active {
color: #5496bd;
}
.copyright {
  display: flex;
  width: 200px;
  margin-top: 36px;
}
.copyright a::before {
  content: url("../img/logo-htmla.png");
}
/* inner */
a.button-more {
  display: inline;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 17px 7px;
}
a.button-book {
  display: inline;
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 16px 8px;
}

.rate {
  display: inline;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  padding: 5px 13px 6px;
  color: #666666;
}
